# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.bak
*.orig

# Environment variables
.env
.env.*